@import url("./reset.css");

/* Global Styles */

html {
    font-size: 18px;
}


    /* Header Styles */

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        line-height: 1.5rem;
    }

    .vertical-divider {
        display: none;
    }

    /* Navigation Styles */



/* Homepage Styles */



/* Footer Styles */



/* Media Queries Begin Here */

/* Tablets and Larger Smartphones */
@media screen and (min-width: 481px) and (max-width: 769px) {

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .vertical-divider {
        display: none;
    }

}

/* Laptops, Larger Tablets in Landscape and Small Desktops */
@media screen and (min-width: 769px) and (max-width: 1279px) {

    .logo-container {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .horizontal-divider {
        display: none;
    }

    .vertical-divider {
        display: inline;
        font-size: 1.65rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .tagline {
        font-size: 1.5rem;
    }

}

/* Larger Desktops and Monitors */
@media screen and (min-width: 1280px) {

    .logo-container {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .horizontal-divider {
        display: none;
    }

    .vertical-divider {
        display: inline;
        font-size: 1.65rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .tagline {
        font-size: 1.5rem;
    }

}

/* Media Queries End Here */