html {
    background-color: #ffffff;
    font-family: sans-serif;
  }

  /* Main Navigation */
  nav div.mainNav a {
    padding-right: 1.5rem;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80rem;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

    /* Footer Navigation */
    footer div.footerNav a {
      padding-right: 1.5rem;
    }