---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects";
---
<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li><a href="./test-project">Test Project 1</a></li>
		<li><a href="./test-project-2">Test Project 2</a></li>
		<li><a href="./test-project-3">Test Project 3</a></li>
	</ul>
</BaseLayout>