---
import siteConfig from '../data/site-config';

const navLinks = siteConfig.headerNavLinks || [];
---

<nav>
    {
        navLinks.length > 0 && (
            <div class="mainNav">
                {navLinks.map((link) => (
                    <a href={link.href}>
                        {link.text}
                    </a>
                ))}
            </div>
        )
    }
</nav>