---
import BaseLayout from '../../layouts/BaseLayout.astro';
import flightsongImage from '../../images/flightsong_trimmed.jpg';

const pageTitle = "Pernod Ricard";

const project = {
    title: "Pernod Ricard Asset Library",
    author: "Martin Otis",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    pubDate: "Nov 11 2024",
};

const tags = ["astro", "CSS", "HTML"];
---

<BaseLayout>
    
    <h1 class="project-title">Pernod Ricard</h1>
    <h3 class="project-blurb">Sixteen brands in the palm of your hand</h3>

    <img src={flightsongImage.src} width="100%" height="auto" alt="Flightsong page from PRUSA Asset Library." />

    <p>Pernod Ricard USA is the premium spirits and wine company in the United States, and the largest subsidiary of Paris-based Pernod Ricard SA. The online Asset Library for their Wines and Champagnes division provides sales critical product information directly to their distribution channels. The mobile ready site also ensures that their products have a successful route-to-market anywhere in the field. The site was built with WordPress and has over 2,500 active users, aggregated across 5 user tiers with various levels of secure content.</p>

    <h4 class="scope">project scope</h4>
    <ul class="project-scope">
        <li class="scope-list">Information Architecture</li>
        <li class="scope-list">Design Direction</li>
        <li class="scope-list">User Interface Design</li>
        <li class="scope-list">Responsive Site Development</li>
        <li class="scope-list">WordPress Development</li>
        <li class="scope-list">Email Marketing</li>
    </ul>
    
  </BaseLayout>
